<div class="container d-flex flex-row">
  <!--* Envoie la liste des cocktails et gère la sélection -->
  <!-- ?
   ? [cocktails] → Propriété du composant app-cocktail-list qui reçoit une donnée.
   ? "cocktails" → Correspond à la variable cocktails définie dans CocktailContainerComponent. 
  -->
  <app-cocktail-list
    [cocktails]="cocktails"
    (changeCocktail)="selectCocktails($event)"
    class="flex-50 pr-10"
  >
  </app-cocktail-list>

  <!--* Envoie le cocktail sélectionné -->
  <!-- ?
   ? [cocktail] → Propriété du composant enfant app-cocktail-details qui attend une donnée.
   ? "selectedCocktail" → Correspond à la variable selectedCocktail définie dans CocktailContainerComponent.   -->
  <app-cocktail-details [cocktail]="selectedCocktail" class="flex-50 pl-10">
  </app-cocktail-details>
</div>
